server {

  server_name api-prod.wir.by www.api-prod.wir.by api-prod6.wir.by www.api-prod6.wir.by;

  gzip on;

  error_page 404 /404.html;
  error_page 500 502 503 504 /500.html;

  location / {
    proxy_pass http://localhost:8080;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

  location /static/ {
    root /home/wir-prod/deployed/frontend;
    try_files $uri $uri/ =404;
  }

  listen [::]:443 ssl http2; # managed by Certbot
  listen 443 ssl http2; # managed by Certbot
  ssl_ciphers EECDH+CHACHA20:EECDH+AES128:RSA+AES128:EECDH+AES256:RSA+AES256:EECDH+3DES:RSA+3DES:!MD5;


    ssl_certificate /etc/letsencrypt/live/api-prod.wir.by/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/api-prod.wir.by/privkey.pem; # managed by Certbot

}
server {
  if ($host = www.api-prod.wir.by) {
      return 301 https://$host$request_uri;
  } # managed by Certbot


  if ($host = api-prod.wir.by) {
      return 301 https://$host$request_uri;
  } # managed by Certbot

  listen 80;
  listen [::]:80;

  server_name api-prod.wir.by www.api-prod.wir.by api-prod6.wir.by www.api-prod6.wir.by;
    return 404; # managed by Certbot
}
